<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>table</title>

  <style>
    table, tr, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      font-size: larger;
      text-align: center;
      /* padding: 1rem; */
      font-family: monospace;
    } table {
      margin: auto;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    }
  </style>
  
</head>
<body>
  <table>
    <tr>
      <th colspan="2"><%= mathFunction %></th>
    </tr>
    <tr>
      <th>x</th>
      <th>f(x)</th>
    </tr>
    <%- rows.map(([x, f]) => {
      return `<tr>
        <td>${x}</td>
        <td>${f}</td>
      </tr>`
    }) %>
  </table>
</body>
</html>